
footer {
    margin-bottom: 100px;
  }
  
  .footer-nav p {
    font-weight: bold;
    color: black;
  }
  
  .footer-nav a {
    text-decoration: none;
  }
  
  .footer-logo {
    display: flex;
    width: 100px;
    height: 34px;
    background-color: #0d28a6;
  }
  