/* header */
header {
    background-color: #f1f3ff;
    padding-top: 24px;
    position: relative;
  }
  
  .bg-light {
    background-color: #f1f3ff !important;
  }
  
  /* Navbar */
  .header-navbar-logo {
    background: #0d28a6;
    width: 100px;
    height: 34px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    box-shadow: none;
  }
  
  .nav-item a {
    color: black;
    margin-right: 18px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
  }
  
  